body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #0065fc;
}
ul {
  list-style-type: none;
}

.conteneur-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.conteneur-flex .element p {
  font-size: 13px;
  margin: auto;
}
.conteneur-flex .element h3 {
  margin-top: 0px;
}
.conteneur-flex .element i.fa-star {
  color: #0065fc;

  font-size: 13px;
}

#main {
  width: auto;
  height: auto;
}

#main h1 {
  color: black;
}
#resultat-recherche .element {
  width: 29%;
  padding: 5px;
  margin: 8px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}

#resultat-recherche .element .image-resultat {
  overflow: hidden;
  position: relative;
  height: 100px;
  /* width: 100%; 
  border: 1px solid white;*/
  border-radius: 10px 10px 0 0;
  /*margin-left: auto;
  margin-right: auto;*/
}
#resultat-recherche .element .image-resultat img {
  width: 100%;
  height: 150px;
  margin: 0 auto;
}
#resultat-recherche {
  justify-content: space-between;
  display: flex;
}
#conteneur1 {
  width: 62%;
  background-color: #f2f2f2;
  padding-right: 10px;
  border-radius: 10px;
}
#conteneur1 h2
{
  padding-left: 20px;;
}
#conteneur2 {
  width: 34%;
}

nav ul {
  list-style: none;
  display: flex;
}
nav li {
  list-style: none;
  margin: 10px;
}
#navigation {
  display: flex;
  justify-content: space-between;
}
footer {
  width: 100%;
  list-style: none;
  border-top: 1px #000;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}
footer .colonne-footer {
  width: 33%;
}
footer ul {
  margin: 0;
  padding: 0;
}

footer a {
  color: black;
  text-decoration: none;
}
aside {
  /*
  display: flex;
  width: 35%;
  */
  border: #f2f2f2;
}
#hotel-populaire {
  padding: 10px;
  background-color: #f2f2f2;
}
#hotel-populaire .element-hotel {
  height: auto;
  width: 85%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1px;
  margin: 2px;
  background-color: white;
  padding-bottom: 1px;
  margin-bottom: 25px;
  border-radius: 15px;
}
#hotel-populaire .element-hotel .hotel-photo {
  width: 40%;
}
#hotel-populaire .element-hotel img {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  border-radius: 10px 0 0 10px;
  padding-top:3px ;
  padding-left: 3px;
  
}
#hotel-populaire .element-hotel p
{
font-size: 13px;
padding-bottom: 20px;
}
#hotel-populaire .element-hotel i.fa-star
{
color:#0065fc ;
font-size: 13px;
}
#hotel-populaire .element-hotel {
  display: flex;
}
#navigation li a {
  text-decoration: none;
  color: gray;
  padding: 20px 5px 5px 5px;
}
#navigation li a.menu-actif {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

#navigation li #boutton-inscrire {
  color: #0065fc;
}
#boutton-info {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  text-align: center;
  color: #0065fc;
}
#boutton-filtre span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  text-align: center;
  color: #0065fc;
  background-color: rgb(184, 220, 236);
}
#boutton-filtre li {
  display: inline-block;
  height: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 10px;
}

#boutton-filtre a {
  text-decoration: none;
}
#activite {
  width: 100%;
  display: flex;}
  .barre-recherche
  {
    width: 100%
  }
}
.barre-recherche span i {
  min-height: 50px;
  justify-content: center;

  
}
.barre-recherche i
{
  width: 30px;
  height: 40px;
  border-color: #f2f2f2;
  justify-content: center;
  font-size: 1.3em;
  border: 1px solid #f2f2f2;
  border-radius: 5px 0 0 5px;
  background-color: #f2f2f2;
  padding-left:  5px; 
}

.barre-recherche input.champ-recherche {
  border: 1px solid #f2f2f2;
  text-align: center;
  color: white;
  width: 230px;
  height: 40px;

}

.barre-recherche input#boutton-recherche {
  width: 130px;
  height: 40px;
  color: white;
  font-size: initial;
  background-color: #0065fc;
  border:none;
  border-radius: 0 10px 10px 0;
  position: relative;
}
.barre-recherche
{
  display: flex;
  height: 50px;
  margin-bottom: 30px;
}
