body {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}
.affiche-surtelephone {
  display: none;
  /*  padding-top: 16px;
  text-decoration: none;
  color: #0065fc;
  font-size: 22px;
  font-weight: bold;*/
}
.conteneur-principale {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.conteneur-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 22px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.conteneur-flex .element .texte-recherches {
  margin-left: 14px;
}
.conteneur-flex .element p {
  font-size: 15px;
  margin: auto;
}
.conteneur-flex .element h3 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 17px;
  margin-top: 8px;
}
.conteneur-flex .element span.prix {
  font-weight: bold;
}
i.fa-star {
  color: #0065fc;
  font-size: 12px;
}

i.fa-star.gris {
  color: rgb(207, 203, 203);
}

#main {
  width: auto;
  height: auto;
}
section.recherche p {
  margin-top: 0;
}

#main h1 {
  color: black;
  margin-bottom: 3px;
  font-weight: 800;
}
#resultat-recherche .element {
  width: 29%;
  padding: 5px;
  margin: 0 0 16px 0;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  /* -webkit-box-shadow: 6px 7px 13px -5px rgba(0, 0, 0, 0.42);
  box-shadow: 6px 7px 13px -5px rgba(0, 0, 0, 0.42);*/
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.1);
}

#resultat-recherche .element .image-resultat {
  overflow: hidden;
  position: relative;
  height: 105px;
  /* width: 100%; 
  border: 1px solid white;*/
  border-radius: 10px 10px 0 0;
  /*margin-left: auto;
  margin-right: auto;*/
}
#resultat-recherche .element .image-resultat img {
  width: 100%;
  max-height: 105px;
  margin: 0 auto;

  object-fit: cover;
}
#resultat-recherche {
  justify-content: space-between;
  display: flex;
  padding-bottom: 37px;
  padding-top: 13px;
}
#conteneur1 {
  width: 63%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 15px;
}
#conteneur1 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#conteneur1 h2 {
  padding-left: 29px;
  padding-top: 25px;
}
#resultat-plus {
  padding-left: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
#conteneur2 {
  width: 34%;
  overflow: hidden;
}
#conteneur2 #titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
#conteneur2 i.fa-chart-line {
  font-size: 23px;
  padding-right: 12px;
}
#conteneur2 .hotel-text span.prix {
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  list-style: none;
  margin: 10px;
}
#navigation {
  display: flex;
  justify-content: space-between;
}
#navigation li a.menu-actif {
  border-top: 3px solid #0065fc;

  color: #0065fc;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
}
footer .conteneur-principale {
  list-style: none;

  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 40px;
}
footer .conteneur-principale div h2 {
  font-size: 17px;
  font-weight: bold;
}
footer .conteneur-principale div {
  width: 33%;
  padding-left: 40px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  margin-bottom: 10px;
  font-size: 14px;
}

footer a {
  color: black;
  text-decoration: none;
}
aside {
  /*
  display: flex;
  width: 35%;
  */
  border: #f2f2f2;
  height: 100%;
}
#hotel-populaire {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  height: 100%;
}

#hotel-populaire .element-hotel {
  height: 140px;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  /*
  -webkit-box-shadow: 6px 7px 13px -5px rgba(0, 0, 0, 0.42);
  box-shadow: 6px 7px 13px -5px rgba(0, 0, 0, 0.42);
*/
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.1);

  background-color: white;
  box-sizing: border-box;

  margin-bottom: 30px;
}
#hotel-populaire .hotel-text .etoiles {
  padding-bottom: 10px;
}
#hotel-populaire .hotel-text {
  width: 60%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hotel-populaire .hotel-text h3 {
  font-size: 17px;
  margin-top: 6px;
  font-weight: bold;
  margin-bottom: 0;
}
#hotel-populaire .element-hotel.dernier {
  margin-bottom: 15px;
}

#hotel-populaire .element-hotel .hotel-photo {
  width: 40%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
#hotel-populaire .element-hotel img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
#hotel-populaire .element-hotel p {
  font-size: 15px;
  margin-top: 5px;
}

#hotel-populaire .element-hotel {
  display: flex;
}
#navigation li a {
  text-decoration: none;
  color: gray;
  padding: 20px 5px 5px 5px;
}
#navigation li a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

#navigation li #boutton-inscrire {
  color: #0065fc;
  font-weight: bold;
}
#boutton-inscrire-telephone {
  display: none;
}
#boutton-info {
  display: inline-block;
  height: 25px;
  width: 32px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  text-align: center;
  color: #0065fc;
  margin-right: 8px;
  margin-left: 10px;
  padding-bottom: 1px;
  padding-top: 6px;
}
#boutton-filtre {
  display: inline-block;
  padding-left: 22px;
}

#boutton-filtre span {
  display: inline-block;
  height: 44px;
  width: 44px;
  margin-top: -6px;
  margin-left: -3px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid rgb(184, 220, 236);
  text-align: center;
  color: #0065fc;
  background-color: rgb(184, 220, 236);
}
#boutton-filtre li {
  display: inline-block;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #e0e0e0;
  font-weight: bold;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
}
#boutton-filtre :hover {
  background-color: #deebff;
}

#filtres span {
  font-weight: bold;
}
#filtres {
  padding-left: 12px;
}
input#boutton-recherche:hover {
  cursor: pointer;
}
#boutton-filtre a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 26px;
}
#boutton-filtre i {
  margin-top: 6px;
}

#filtre span filtre {
  float: left;
}
#activite {
  width: 100%;
  display: flex;
}
.barre-recherche {
  width: 100%;
}

.barre-recherche span i {
  justify-content: center;
}

.barre-recherche i {
  width: 20px;
  height: 28px;
  border-color: #f2f2f2;
  justify-content: center;
  font-size: 1em;
  border: 1px solid #f2f2f2;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-right: 8px;
  margin-left: 3px;
  padding-left: 12px;
}
.barre-recherche i.fa-search {
  width: 20px;
  height: 29px;
  font-size: 1em;
  justify-content: center;
  background-color: blue;
  color: white;
  border-radius: 15px;
  padding-top: 10px;
  margin-left: -10px;
}
::placeholder {
  color: black;
  font-size: 15px;
}
.barre-recherche input.champ-recherche {
  border: 1px solid #f2f2f2;
  padding-left: 20px;
  width: 226px;
  height: 40px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 12px;
}

.barre-recherche input#boutton-recherche {
  width: 130px;
  height: 40px;
  color: white;
  font-size: initial;
  background-color: #0065fc;
  border: none;
  border-radius: 0 10px 10px 0;
  position: relative;
}
.barre-recherche {
  display: flex;
  height: 40px;
  margin-bottom: 8px;
}

#activite-marseille {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}
#activite-marseille h2 {
  font-size: 25px;
  font-weight: bold;
}

#activite-marseille #colonne1 .element {
  height: 100%;
}

#activite-marseille #colonne2 .element.premier {
  height: 231px;
}
#activite-marseille #colonne2 .element.deuxieme {
  height: 138px;
}
#activite-marseille #colonne3 .element {
  height: 100%;
}

#activite-marseille #colonne4 .element.premier {
  height: 180px;
}
#activite-marseille #colonne4 .element.deuxieme {
  height: 186px;
}
#activite-marseille h3 {
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 5px;
}

#activite-marseille .colonne {
  width: 23%;
  height: 415px;
  justify-content: space-between;
  flex-flow: column;
  display: flex;
}
#activite-marseille .element {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  position: relative;
  /*-webkit-box-shadow: 6px 7px 13px -5px rgba(0, 0, 0, 0.42);
  box-shadow: 6px 7px 13px -5px rgba(0, 0, 0, 0.42);*/
  -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.1);
}

#activite-marseille .element img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#activite-marseille .element .image-activite {
  height: 100%;
}
#activite-marseille .element .texte-activite {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-bottom: 12px;
  padding-top: 14gpx;
  padding-left: 17px;
  font-weight: bold;
}

.img-hover-zoom img {
  transition: transform 0.25s ease-in;
}
.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.img-hover-zoom {
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* CSS */
  body {
    margin: 0;
  }
  header.conteneur-principale,
  #activites,
  #recherche {
    padding: 0 20px;
    box-sizing: border-box;
  }

  #filtres {
    box-sizing: border-box;
  }
  #navigation li a.menu-actif {
    font-weight: bold;
  }
  #resultat-recherche .element {
    width: 46%;
  }
  #hotel-populaire .element-hotel {
    height: 180px;
  }
  #boutton-filtre {
    display: inline-block;
    padding: 0;
  }
  #boutton-filtre li {
    display: inline-block;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #e0e0e0;
    font-weight: bold;
    margin: 10px;
    padding-top: 4px;
    padding-bottom: 7px;
  }
  #resultat-recherche {
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;
  }
  #conteneur1 {
    width: 100%;
    border-radius: 20px;
  }
  #conteneur2 {
    width: 100%;
    border-radius: 0;
    padding-top: 15px;
    border-radius: 20px;
  }
  #hotel-populaire {
    border-radius: 20px;
  }
  #resultat-plus {
    padding-left: 25px;
    font-weight: bold;
    padding-bottom: 45px;
  }
  #activites {
    margin-top: 45px;
  }
  #activite-marseille {
    /*
    display: flex;
    justify-content: space-between;
    width: 100%;
    */
    height: auto;
    flex-wrap: wrap;
  }

  #activite-marseille .colonne {
    width: 48%;
    height: 415px;
    /* justify-content: space-between;
    flex-flow: column; 
    display: flex;*/
    margin-bottom: 40px;
  }
  #colonne1 {
    order: 1;
  }
  #colonne2 {
    order: 2;
  }
  #colonne3 {
    order: 4;
  }
  #colonne4 {
    order: 3;
  }

  #main h1 {
    color: black;
    margin-bottom: 4px;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  body {
    margin: 8px 0;
  }

  .recherche,
  #filtres,
  #informations,
  #boutton,
  #resultat-plus,
  #activites {
    padding: 10px;
  }
  #recherche,
  #filtres,
  #activites,
  #informations {
    box-sizing: border-box;
    padding-left: 12px;
  }
  #main h1 {
    color: black;
    margin-bottom: 3px;
    font-size: 26px;
  }
  #boutton-inscrire-telephone {
    display: block;
  }
  #resultat-recherche .element {
    width: 97%;
  }

  #resultat-recherche {
    flex-direction: column-reverse;
  }
  #conteneur1 {
    width: 100%;
  }
  #conteneur2 {
    width: 100%;
  }

  #boutton-filtre {
    padding-left: 5px;
    margin-left: -15px;
  }
  section.recherche p {
    margin-top: 9px;
    font-size: 20px;
  }
  #activite-marseille .colonne {
    width: 97%;
  }
  #activite-marseille {
    flex-direction: column;
  }
  #resultat-recherche .element .image-resultat {
    height: 145px;
  }
  #resultat-recherche .element .image-resultat img {
    max-height: 145px;
  }
  #activite-marseille #colonne2 .element.premier {
    height: 200px;
  }
  #activite-marseille #colonne2 .element.deuxieme {
    height: 200px;
  }
  #activite-marseille #colonne1 .element {
    height: 200px;
  }
  #activite-marseille #colonne3 .element {
    height: 200px;
  }
  #activite-marseille #colonne4 .element.premier {
    height: 200px;
  }
  #activite-marseille #colonne4 .element.deuxieme {
    height: 200px;
  }
  #activite-marseille .colonne {
    height: 100%;
  }
  #activite-marseille {
    height: auto;
  }
  #resultat-plus {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  footer .conteneur-principale div {
    width: 43%;
  }
  footer .conteneur-principale {
    width: 100%;
    flex-direction: column;
  }
  #activite-marseille .element {
    margin-bottom: 34px;
  }
  .barre-recherche span i {
    min-height: 29px;
  }

  #main {
    width: 100%;
  }

  #navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #boutton-inscrire-telephone {
    display: block;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav ul :hover {
    color: #0065fc;
    background-color: 3px solid #0065fc;
    font-weight: bold;
  }
  nav ul {
    padding: 0;
    width: 100%;
  }
  nav li {
    list-style: none;
    margin: 0;

    font-size: 20px;
  }

  .cacher-telephone {
    display: none;
  }
  .affiche-surtelephone {
    display: block;
  }
  .recherche-surtelephone {
    display: block;
  }

  #hotel-populaire {
    border-radius: 0;
    padding-left: 22px;
    padding-right: 26px;
  }

  #activite-marseille .element img {
    padding-left: 6px;
  }
  #activite-marseille h2 {
    padding-left: 7px;
  }
  #activites h2 {
    padding-left: 5px;
  }
  #conteneur1 {
    background-color: white;
    padding-bottom: 0;
  }
  conteneur-flex {
    margin-left: 18px;
  }
  .texte-recherches {
    margin-left: 14px;
  }

  #activite-marseille h3 {
    font-size: 16px;
  }
  footer .conteneur-principale div {
    width: 100%;
    box-sizing: border-box;
  }
  #navigation li a {
    color: rgb(70, 66, 66);
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 13px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #navigation li a.menu-actif {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 13px;
    border-top: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  #boutton-inscrire2 {
    padding-top: 30px;
    text-decoration: none;
    color: #0065fc;
    font-size: 21px;
    font-weight: bold;
    padding-right: 28px;
  }
  .boutton-nav {
    width: 100%;
  }
  #navigation img {
    padding-left: 15px;
    padding-top: 10px;
    width: 30%;
  }
  #informations {
    padding-left: 47px;
  }
  #informations span#boutton-info {
    margin-left: -40px;
  }
  #informations p {
    margin: 0;
  }
  #informations.conteneur-principale {
    padding-top: 0;
  }
  #resultat-plus a {
    padding-left: 13px;
  }
}
